node_modules
.next
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.development.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN
# Linux
*~
.directory
# IDE
.vscode
.idea
*.swp
*.swo
*.swn
# Other
*.pem
coverage
.temp
temp
*.log

